{% if all.VMs is defined %}
{% for VM in all.VMs -%}
resource "proxmox_virtual_environment_vm" "{{ VM.name}}" {

  node_name   = "{{ all.PROXMOX.node |default('pve') }}"
  name        = "{{ VM.name}}"
  {% if all.POOL.name is defined -%} 
  pool_id     = "${proxmox_virtual_environment_pool.{{ all.POOL.name }}.id}" 
  {% endif %}

  agent {
    enabled = "{{ all.DEFAULT.agent |default('true') }}"
  }

  clone {
    vm_id = "{{ VM.image_id |default('100') }}"
  }

  cpu {
    cores = "{{ VM.cpu.core | default(2) }}"
    type = "{{ VM.cpu.type | default('host') }}"
  }

  {% if VM.disks is defined -%}
  {% for disk in VM.disks -%}

  disk {
    {% if disk.datastore is defined -%}datastore_id = "{{ disk.datastore }}" {% else %}datastore_id = "{{ all.DEFAULT.datastore | default('local-lvm') }}" {% endif %}
    file_format = "{{ disk.format |default('raw') }}"
    size = "{{ disk.size }}"
  }

  {% endfor -%}
  {% endif -%}


  memory {
    {% if VM.memory.dedicated is defined -%}
    dedicated = "{{ VM.memory.dedicated }}"
    {% endif -%}
    {% if VM.memory.floating is defined -%}
    floating = "{{ VM.memory.floating }}"
    {% endif -%}
  }

  {% if VM.networks is defined -%}
  {% for network in VM.networks -%}

  network_device {
    {% if network.bridge is defined -%}
    bridge = "{{ network.bridge }}"
    {% endif -%}
    {% if network.macaddress is defined -%}
    mac_address = "{{ network.macaddress }}"
    {% endif -%}
    {% if network.vlan is defined -%}
    vlan_id = "{{ network.vlan }}"
    {% endif -%}
  }

  {% endfor -%}
  {% endif -%}

  # Cloud Init Settings
  initialization {

    {% if VM.networks is defined -%}
    {% for network in VM.networks -%}
    {% if network.ip is defined -%}
    ip_config {
      ipv4 {
        {% if network.ip is defined -%}
        address = "{{ network.ip }}"
        {% endif -%}
        {% if network.gateway is defined -%}
        gateway = "{{ network.gateway }}"
        {% endif -%}
      }
    }
    {% endif %}
    {% endfor -%}
    {% endif -%}

    {% if VM.account is defined -%}

    user_account {
      {% if VM.account.key is defined -%}keys = [ "{{ VM.account.key }}" ]{% endif %}
      username = "{{ VM.account.user |default('ansible') }}"
    }

    {% elif DEFAULT.account is defined -%}

    user_account {
      {% if DEFAULT.account.key is defined %}keys = [ "{{ DEFAULT.account.key }}" ]{% endif %}
      username = "{{ DEFAULT.account.user |default('ansible') }}"
    }
    {% endif -%}
  }
}
{% endfor -%}
{% endif %}